.contentContainer{
	/*	height: 65px; */
	background-color: var(--content-container-bg-color);
	/*display: table;*/
	min-width: 500px;
	flex: auto;
	/*height: 100%;*/
	align-self: stretch;
}

.contentContainer .contentText{
	/*js for expanding text*/
	overflow-y: scroll; /* ?hidden? */
	width: 98%;
    resize: none;
	/* für styled Text brauch man ein <span contenteditable>bla</span> */
}

.contentControlButton{
    margin: 0.3em;
}
.contentInfo{
    display: inline;
}
.contentInfo .spinner{
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
}
.contentInfo progress{
    width: 5em;
}
@keyframes spin {
    from {transform:rotate(0deg);    }
    to {transform:rotate(360deg);    }
}