footer {
    height: 65px;
    background-color: var(--header-bg-color);
    color: var(--header-brand-color);
    text-align: center;
    display: flex;
    justify-content: center;
}

footer div {
    height: 100%;
    font-size: large;
    align-items: center;
    display: inline-flex;
    margin-left: 1rem;
}

footer a:link {
    color: var(--header-brand-color);
}

footer a:visited {
    color: var(--header-brand-color);
}