.ContainerNavContent{
    background-color: var(--navigation-container-bg-color);
    display: flex;
    flex-direction: row;
}

.indexContainer{
	/*	height: 65px; */
	background-color: var(--navigation-bg-color);
	/*display: table;*/
	min-width: 100px;
	flex-basis: 200px;
	/*height: 100%;*/
	word-break: break-all;
	align-self: stretch;
}

.draggableSeperator{
	background-color: var(--navigation-separator-color);
	width: 0.5em;
}
.indexContainer button{
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*
.indexContainer p{
    border: solid;
    margin: 5px;
    padding: 3px;
    white-space: nowrap;
    width:85%; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.indexContainer p a{
    display: inline;
    color: black;
    text-decoration: none;
}*/
.indexFilter{/*input filter*/
    margin: 5px 5px 0px 5px;
    padding: 3px;
    width: 95%;
    width: -webkit-fill-available;
}